.checkbox {
  position: absolute;
  width: 15px;
  height: 15px;
  margin-left: 1.5%;
  border: 1px solid #c0c0c0;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 29.4rem;
  cursor: pointer;
}
